<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Neptune</title>
  <script src="https://use.typekit.net/lkh0ago.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="icon" href="../ruby.png" type="image/x-icon" />
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/all.css">
  <link rel="stylesheet" href="../css/hopscotch.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .menuicon{
      padding: 0px;
      position: absolute;
      top: 0%;
      left: 47.5%;
    }
  </style>
  <% if (leftcolor && rightcolor) { %>
  <style>
    body {
      --leftcolor: <%= leftcolor %>;
      --rightcolor: <%= rightcolor %>;
      background: linear-gradient(135deg, var(--leftcolor) 0%, var(--rightcolor) 100%);
    }
  </style>
  <% } %>
  <% if (cardcolor) { %>
  <style>
    
    .profile {
      
      --cardcolor: <%= cardcolor  %>;
      background: var(--cardcolor);
    }
  </style>
  <% } %>

</head>

<body>
  <fieldset class='material-button logout'>
    <div>
      <input class='save' onclick="location.href = '/auth/logout/';" style="background-color: #f5515f;" type='submit' value='log out'>
    </div>
  </fieldset>
  <a href="/menu"><img id="menu" class="menuicon" height="100px" width="100px" src="../ruby.png" alt=""></a>

  <main class='profile' ontouchstart>
  <div class='background'></div>
  <aside class='avatar' style="background: url('../uploads/<%= username %>/<%= profilepic %>') no-repeat top center/cover; background-size: 300px 400px;"></aside>
  <section class='info'>
    <h1><%= name %></h1>
    <h2><%= title %></h2>
    <a class='follow'><%= location %></a>
    <ul>
      <li>
        <a class='link portfolio' href="tel:<%= phonenumber %>" target='_blank'>
          <i class="material-icons" style="color: white;">call</i></div>
        </a>
      </li>
      <li>
        <a class='link codepen' href='sms:<%= phonenumber %>' target='_blank'>
          <div class="chat-icon"><i class="material-icons" style="color: white;">chat</i></div>
        </a>
      </li>
      <li>
        <a class='link github' href='mailto:<%= email %>' target='_blank'>
          <div class="email-icon"><i class="material-icons" style="color: white;">email</i></div>
        </a>
      </li>
      <li>
        <a class='link resume' href='../uploads/<%= username %>/<%= resume %>' target='_blank'>
          <div class="resume-icon"><i class="material-icons" style="color: white;">school</i></div>
        </a>
      </li>
      <li>
        <a class='link resume' href='https://<%= website %>' target='_blank'>
          <div class="resume-icon"><i class="material-icons" style="color: white;">open_in_browser</i></div>
        </a>
      </li>
    </ul>
    <ul>
      <li style="text-align: center;" class='padding'>
        <fieldset class='material-button'>
          <div>
            <a class="linkedinBtn smGlobalBtn" href="<%= linkedin %>" ></a>
          </div>
        </fieldset>
      </li>
    </ul>
    <div id="qrcode"></div>
  </section>
</main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/master/qrcode.js"></script>
  <script  src="../js/index.js"></script>
  <script src="../js/hopscotch.js"></script>
  <script>
    var QRId = "http://ec2-54-183-229-52.us-west-1.compute.amazonaws.com:8081/qrconnect/<%= username %>"
    var qrcode = new QRCode("qrcode", {
        text: QRId,
        width: 150,
        height: 150,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });

    // get the qr div, then find the canvas element inside it
    var canvas = document.getElementById('qrcode').querySelector('canvas');

    var dataURL = canvas.toDataURL();
  </script>
  <script>

    // Define the Tour
      var tour = {
           id: "hello-hopscotch",
           steps: [
             {
               title: "Start your Tour of Neptune",
               content: "Click on this logo to see the Menu",
               target: "menu",
               placement: "bottom",
               multipage: true,
               onNext: function() {
                 window.location = "/menu"
               }
             },
             {
               title: "My content",
               content: "Here is where I put my content.",
               target: document.querySelector("#portfolio"),
               placement: "bottom"
             }
           ],
              onEnd: function() {
              setCookie("toured", "toured");
            },
              onClose: function() {
              setCookie("toured", "toured");
            }
         };

        function setCookie(key, value) {
          var expires = new Date();
          expires.setTime(expires.getTime() + (100 * 365 * 24 * 60 * 60 * 1000));
          document.cookie = key + '=' + value + ';path=/' + ';expires=' + expires.toUTCString();
        };

        function getCookie(key) {
          var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
          return keyValue ? keyValue[2] : null;
        };
        console.log(getCookie("toured"));
        // Initialize tour if it's the user's first time
        if (!getCookie("toured")) {
          hopscotch.startTour(tour);
        }    
       </script>
       <script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "Person",
          "name" : "<%= name %>",
          "url" : "http://ec2-54-183-229-52.us-west-1.compute.amazonaws.com:8081/viewprofile/<%= username %>",
          "sameAs" : [
            "http://<%= website %>",
            "<%= linkedin %>"
          ]
        }
        </script>




</body>

</html>
