<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Dastan</title>
  <script src="https://use.typekit.net/lkh0ago.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../ruby.png" type="image/x-icon" />
  
      <link rel="stylesheet" href="../../css/style.css">
    <style>
    .menuicon{
      padding:0px;
      position: absolute;;
      text-align:center;
      display: block;
      top: 2%;
    }
  </style>
</head>

<body>
  <img onclick="location.href = '../menu/index.html';" class="menuicon" height="100px" width="100px" src="../ruby.png" alt="">
  <div id='settings' ontouchstart>
  <input class='nav' name='nav' type='radio'>
  <span class='nav'>Log In</span>
  <input checked class='nav' name='nav' type='radio'>
  <span class='nav'>Sign Up</span>
  <main class='content'>
    <section id='profile'>
      <form>
        <br><br><br><br><br><br>
        <ul>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text' value='Aneesh Kashalikar'>
                <label>Username/Email/Phone Number</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text'>
                <label>Password</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <br><br><br><br><br><br>
          <li class='large padding'>
            <fieldset class='material-button center'>
              <div>
                <input class='save' type='submit' value='Save'>
              </div>
            </fieldset>
          </li>
        </ul>
      </form>
    </section>
    <section id='account'>
      <form action="/auth/signup" method="POST">
        <ul>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text' value='<%=email%>' name='email'>
                <label>Email</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='text' value='<%=username%>' name='username'>
                <label>Username</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
                <fieldset class='material'>
                  <div>
                    <input type='text' value='<%=linkedIn%>' name='linkedIn'>
                    <label>Linkedin</label>
                    <hr>
                  </div>
                </fieldset>
              </li>
          <li>
            <fieldset class='material'>
                <div>
                <input required type='text' value='<%=phone%>' name='phone'>
                <label>Phone Number</label>
                <hr>
                </div>
            </fieldset>
            </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='password' name='password'>
                <label>Password</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class='material'>
              <div>
                <input required type='password'>
                <label>Confirm Password</label>
                <hr>
              </div>
            </fieldset>
          </li>
          <li style="text-align: center;" class='padding'>
            <fieldset class='material-button'>
              <div>
                <a class="linkedinBtn smGlobalBtn" href="#" ></a>
              </div>
            </fieldset>
          </li>
          <li style="text-align: center;" class='padding'>
            <fieldset class='material-button'>
              <div>
                <a class="twitterBtn smGlobalBtn" href="#" ></a>
              </div>
            </fieldset>
          </li>
          <li style="text-align: center;" class='padding'>
            <fieldset class='material-button'>
              <div>
                <a class="facebookBtn smGlobalBtn" href="#" ></a>
              </div>
            </fieldset>
          </li>
          <li style="text-align: center;" class='padding'>
            <fieldset class='material-button'>
              <div>
                <a class="googleplusBtn smGlobalBtn" href="#" ></a>
              </div>
            </fieldset>
          </li>
          <li class='large padding'>
            <fieldset class='material-button center'>
              <p class="error"><%=message%></p>
              <div>
                <input class='save' type='submit' value='Save'>
              </div>            
            </fieldset>
          </li>
        </ul>
      </form>
    </section>
    <section class='upcoming' id='privacy'>
      <h1>Coming&nbsp;soon!</h1>
    </section>
    <section class='upcoming' id='advanced'>
      <h1>Coming&nbsp;soon!</h1>
    </section>
  </main>
</div>
  
  

    <script  src="../../js/settings.js"></script>




</body>

</html>
